@use "./../../foundation/variable" as *;


//top page
//-----------------------------
.p-button__seach {
    line-height: 2;
    border: solid 1px;
    width: 78px;
    border-radius: 10px;
    color: $color-gray;
    background-color: $color-lightbrowm;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

input {
    vertical-align: -webkit-baseline-middle;
}

@include breakpoint(tablet) {
    .p-button__seach {
    width: 136px;
    text-align: center;
    }
}


