@use "./../../foundation/variable" as *;

//archive page
//-----------------------------
.p-pagination{
    &__navi{
        margin: 0 auto;
        display: block;
        padding-top: 40px;
    }
    &__number {
        display: none;
    }
}

@include breakpoint(tablet) {
    .p-pagination__number {
        margin: 75px auto;
        margin-bottom: 2px;
        display: block;
    }
    .p-pagination__navi {
        display: none;
    }
}

@include breakpoint(pc) {
    .p-pagination__number {
        margin-top: 150px;
    }
}